.airport-opts {
  margin-top: 14px;
}

.btn-submit-position {
  margin-top: 40px;
}

.reason_position {
  margin-top: 14px;
}

.dados_voo_position {
  margin-top: 14px;
}

.local-position {
  margin-top: 14px;
}

.data_local_position {
  margin-top: 14px;
}
