<h1>Sign up!</h1>
<form action="/signup" method="post">
  <div class="col-lg-4">
    <!-- Campo email -->
    <div class="row">
      <label for="email">Email</label>
      <input id="email" name="email" class="form-control" type="text">
    </div>
    <!-- Campo password -->
    <div class="row">
      <label for="password">Password</label>
      <input id="password" name="password" class="form-control" type="password">
    </div>
    <!-- button Signup -->
    <div class="row">
      <label for="signup"></label>
      <input type="submit" id="signup" value="Sign up" class="btn btn-block btn-primary">
    </div>
  </div>
</form>
