<!-- Local -->
<div class="row local-position">
  <div class="col-lg-8">
    <legend>Local</legend>

    <div class="col-lg-10">
      <label for="address">Endereço</label>
      <input id="address" name="endereco" class="form-control" type="text">
    </div>

    <div class="airport-opts col-lg-8">
      <strong>Buscar no Aeroporto?</strong>

      <input type="radio" name="buscar_aeroporto" value="nao" id="nao_buscar" checked>
      <label for="nao_buscar">Não</label>

      <input type="radio" name="buscar_aeroporto" value="sim" id="sim_buscar">
      <label for="sim_buscar">Sim</label>
    </div>
  </div>
</div>
