<!-- Inicio campos passageiros -->
<label for="name">Passageiros</label>
<div class= "row">
  <div class="col-lg-4">
    <input id="name" class="form-control" type="text" name="passageiros[]">
    <p class="help-block">Nome completo do passageiro.</p>
  </div>
  <div class="col-lg-3">
    <input id="passengers__destroy" type="hidden">
    <span class="glyphicon glyphicon-remove-circle"></span>
    <a href="#" class="remove_fields">Remover passageiro</a>
  </div>
</div>

<div class= "row">
  <div class="col-lg-4">
    <input id="name" class="form-control" type="text" name="passageiros[]">
    <p class="help-block">Nome completo do passageiro.</p>
  </div>
  <div class="col-lg-3">
    <input id="passengers__destroy" type="hidden">
    <span class="glyphicon glyphicon-remove-circle"></span>
    <a href="#" class="remove_fields">Remover passageiro</a>
  </div>
</div>
<!-- Fim campos passageiros -->
<a href="#" class="add_fields">Adicionar outro passageiro</a>
<span class="glyphicon glyphicon-plus-sign"></span>
