<!-- Servico a ser executado -->
<div class="row">
  <div class="col-lg-8">
    <legend>Serviço a ser executado</legend>

    <div class="col-lg-12 radio-op1">
      <input type="radio" class="buscar-option" name="service" value="buscar" id="service_buscar">
      <label for="service_buscar">Buscar</label>
    </div>
    <div class="col-lg-12 radio-op2">
      <input type="radio" class="levar-option" name="service" value="levar" id="service_levar">
      <label for="service_levar">Levar</label>
    </div>
    <div class="col-lg-12 radio-op3">
      <input type="radio" class="conduzir-option" name="service" value="conduzir" id="service_conduzir">
      <label for="service_conduzir">Conduzir</label>
    </div>
  </div>
</div>
<!-- Fim Servico a ser executado -->

<div class="row">
  <div class="col-lg-12">
    <div class="info-buscar col-lg-6">
      <span>O motorista irá ao destino buscar o passageiro de volta ao local de origem.</span>
    </div>
    <div class="info-levar col-lg-6">
      <span>O motorista irá levar o passageiro para retornar ao seu destino.</span>
    </div>
    <div class="info-conduzir col-lg-6">
      <span>O motorista irá conduzir o passageiro para o seu destino, o motorista aguardará até o serviço seja executado e retornará com o passageiro de volta ao local de origem.</span>
    </div>
  </div>
</div>
