<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
</head>
<body>
  <% if flash.has?(:notice) %>
    <p><%= flash[:notice] %></p>
  <% end %>
  <h1>Welcome to Vehicles.io</h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa quos delectus optio placeat, harum ipsum asperiores pariatur illum sit qui corrupti iste eligendi, perferendis aspernatur odit laborum accusamus nihil repudiandae.</p>
</body>
</html>

