<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/assets/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="/css/application.css">
  <!--
    application.css is where you put your styles
  -->
  <title>Vehicles.io</title>
</head>
<body>
  <header>
    <%= erb :"layout/_navigation" %>
  </header>
  <main role="main" class="container">
    <%= erb :"layout/_messages" %>
    <%= yield %>
  </main>
  <script src="/assets/jquery/dist/jquery.js"></script>
  <script src="/assets/bootstrap/dist/js/bootstrap.js"></script>
  <script src="/assets/jquery-maskedinput/dist/jquery.maskedinput.min.js"></script>
  <script src="/js/app.js"></script>
</body>
</html>
