<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
</head>
<body>
  <% if locals[:errors] %>
    <p><%= locals[:errors] %></p>
  <% end %>
  <h1>Login</h1>
  <form action="/login" method="post">
    Email:    <input type="text" name="email">
    </br>
    Password: <input type="password" name="password">
    </br>
    <input type="submit" value="Enviar">
  </form>
</body>
</html>

