<% if locals.has_key? :errors %>
  <p><%= locals[:errors] %></p>
<% end %>

<h1>Login</h1>
<form action="/login" method="post">
  <div class="col-lg-4">
    <!-- Campo email -->
    <div class="row">
      <label for="email">Email</label>
      <input id="email" name="email" class="form-control" type="text">
    </div>
    <!-- Campo password -->
    <div class="row">
      <label for="password">Password</label>
      <input id="password" name="password" class="form-control" type="password">
    </div>
    <!-- button Submit -->
    <div class="row">
      <label for="login"></label>
      <input type="submit" id="login" value="Login" class="btn btn-block btn-primary">
    </div>
  </div>
</form>
